@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*variável global  */
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --corbranco: white;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}
/* seleciona todos os elementos */
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /* declaração do gradiente no header */
    background-color: var(--cor4);      /* cor de fundo do header */
    min-height: 150px;                  /* altura minima */
    text-align: center;                 /* centralizando */
    padding-top: 40px;
}
header > h1 {
    color: var(--corbranco);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal; /*tirando o negrito do hi*/
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452); /*sombra no h1*/
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--corbranco);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.513); /*sombra no p*/
}

nav { /* menu do site*/
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.436); /*sombra no menu*/
}

/*links q estão no menu*/

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px; /*arredonda os cantos*/
    text-decoration: none; /* tirando o sublinhado dos links*/
    font-weight: bold; /*negrito*/
    transition-duration: 0.8s; /* duração da transição*/
}
/*pseudo classe*/
 nav >a:hover { /* altera as caracteristicas com a passagem do mouse*/
    background-color: var(--cor3);
    color: var(--cor5);
 }


main {
    /* Responsividade largura min e max */
    min-width: 300px;
    max-width: 1000px;

    /* Margem automática */
    margin: auto;

    /* margem em baixo */
    margin-bottom: 30px;

    /* margem */
    padding: 20px;

    /* Cor de fundo do main */
    background-color: var(--corbranco);

    /* sombra */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.412);

    /* arredonda as bordas de baixo do main */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;

}

/*configurando os parágrafos do main*/
main p {
    margin: 15px 0px; /*margem a esquerda e em baixo*/
    text-align: justify; /* alinhamento do texto*/
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em; /*espaçamento/altura entre linhas*/
}

/*configurando o q encontra-se em negrito no main*/

main strong {
    color: var(--cor4);
    font-weight: bold;

}
/*configurando os links q estão no main*/

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.46);

}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
    box-shadow: 9px 8px 2px rgba(20, 20, 20, 0.46);

}

/* Responsividade das imagens que estão no main */
main img {
    width: 100%;
}

main img.pequena{
    max-width: 350px; /*define o tamanho máximo da imagem*/
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.455);
}

aside > h3 {
    background-color: var(--cor3);
    color: var(--corbranco);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
   
}

/* configurando a lista*/
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside; /*posição da lista*/
    columns: 2; /* número de colunas da lista*/

}

footer {
    background-color: var(--cor5);
    color: var(--corbranco);
    text-align: center;
    padding: 5px;
}

footer > p > a{
    color: var(--corbranco);
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}